<?xml version='1.0' encoding='utf-8'?>
<robot name="kuka_kr16r2010_2" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <VERSION value="1.0.0" />
    <!-- <xacro:arg default="r1_" name="prefix" /> -->
    <xacro:arg default="" name="prefix" />
    <xacro:include filename="$(find kuka_kr16_support)/urdf/kr16r2010_2/kr16r2010_2_macro.xacro" />
    <xacro:kuka_kr16r2010_2 prefix="$(arg prefix)" />
  </robot>
  